/* 
    Document   : messagewidget
    Created on : Jun 29, 2012, 10:05:26 PM
    Author     : Zac
    Description:
        Purpose of the stylesheet follows.
*/

.MessageWidget .nav-button
{
    float : left;
    margin : 0 3px 3px 3px;
}



.MessageWidget .message-tabs > div > div
{
    padding : .4em;
    height: 10em;
}

.MessageWidget .ui-tabs .ui-tabs-nav
{
    border-bottom-width: 0px;
}

.MessageWidget .message-input
{
    margin-bottom : .4em;
    padding-bottom: .4em;
}

.MessageWidget .ui-tabs .ui-tabs-panel
{
    padding : 0;
}

.message-tabs
{
    padding : 0;
}