/* 
    Document   : games
    Created on : Jun 27, 2012, 11:45:32 PM
    Author     : Zac
    Description:
        Purpose of the stylesheet follows.
*/

.widget-gamelist { 
    width : 80%;
    margin : auto;
}

