/* 
    Document   : global.css
    Created on : May 30, 2012, 9:14:46 PM
    Author     : Zac
    Description:
        Purpose of the stylesheet follows.



COLOR LIST #1

CB9A61  brown
CB7661  red
CBBD61  light brown
E4CBAD  pale brown
969696  gray
FFFFFF  white


---

#880000 dark red

#F3C2AB
#8B8B8B
*/
.ui-button 
{
    font-size : 8px;
}

.ui-button .ui-button-text
{
    line-height: 1.1;
    padding : .5em .5em;
}

body
{
    background-image:url('../images/background.png');
    background-repeat:repeat;
    color : #000000;
}

.gamedata-control > div
{
    margin : 0px 5px 5px 5px;
}

.data-panel
{
    margin : 0px 5px 5px 5px;
    background-color : #FFFFFF;
    border : 1px solid black;
    color : black;
}

.data-panel .data-panel-label
{
    font-size : 20px;
    width : 100%;
    background-color : #ffd4d4;
    border-bottom : 1px solid black;
}
.data-panel .data-panel-label > div
{
    padding : .2em;
}

.data-panel .data-panel-content
{
    padding : 5px;
}

.header-gradient
{
    
}

.content-pane
{
    margin : 0px 5px 5px 5px;
}

.content-pane > div
{
    margin : 2px;
}

.shadow {
}

.single-column-content
{
    background-color : #C9C198;

    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding : 10px;
    
    -moz-box-shadow: 0px 3px 20px #000;
    -webkit-box-shadow: 0px 3px 20px #000;
    box-shadow: 0px 3px 20px #000;

}


root { 
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}



.page-title
{
    width :  800px; 
    background : #666666;
    margin-left: auto;
    margin-right: auto;
}

.page-content
{
    min-height: 30em;
}

div
{
    border-color : transparent;
}

h1,
h2,
h3
{
    margin : 0;
}

.centered-content
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#console-div
{
    margin: 10px 10px 10px 10px;

}

#user-info
{
    float : right;
    vertical-align: center;
}
#user-info div
{
    float : right;
}

#console-display
{
    overflow-x : hidden;
    white-space : pre;
    background-color: #AAAAAA;
    overflow-y: auto;
    vertical-align: bottom;
}

.widget-portlet > .ui-widget-header
{
    padding : .2em .2em;
}
.widget-portlet > .ui-widget-content
{
    border-top-width: 0px;
    padding : .2em .4em;
}

.content-fill-to-margin
{
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin: 5px;
}

.console-display
{
    color : black;
    
    -moz-box-shadow: inset 0px 2px 10px #000;
    -webkit-box-shadow: inset 0px 2px 10px #000;
    box-shadow: inset 0px 2px 10px #000;
    padding: .5em;    

    background : white;
    overflow-x : hidden;
    white-space : pre;
    vertical-align: bottom;
    font-family: "Lucida Console";
    overflow-y : auto;

}

.console-label
{
    float : left;
    min-width : 3em;
    text-align: right;
}

.console-display div
{
    padding-left: 5px;
}

.link-div
{
    float: left;
    margin-right : 5px;
    vertical-align: center;
}

.ui-button
{
    font-size : 10pt;
}

.item-disabled 
{
    
    color : #779999;
}